<div class="mt-20">

  <div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Proje Hakkında</h4>
    <p>
      Proje Angular 6 ile yazılmıştır.
      <br />  Kendo ui ile chart ve grid componentlerini kullanarak bir dashboard alanı yaptım.
      <br />  Menü bölümünü yaparken bootstrap classlarını kullanarak yaptım.
      <br />  Iconlarda font-awesome kullandım.
      <br />  Kullanıcıları localstroge kullandım ve buna 2 adet servis yazdım.
    </p>
  </div>

  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Proje Komutları</h4>
    <p>
      <br /> <code>ng serve</code> kod ile projeyi çalıştırabilirsiniz
      <br /> <code>ng build</code> kod ile prod build alabilirsiniz
      <br /> <code>ng test</code> kod ile projeyi  test edebilirsiniz
      <br /> <code>ng lint</code> kod ile projenin lint testi yapabilirsiniz
      <br /> <code>ng e2e</code> kod ile e2e testi çalıştırabilirisiniz
      <br />
    </p>
  </div>

  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">CSS (SCSS) olarak yapılanlar</h4>
    <p>
      z-widget olarak dashboard scss ile bi BEM css metodolojisi kullanarak yazdım
      <br />  Tabi burda oocss veya smacss metodundan herhangi biri projede kullanılabilir.
    </p>
  </div>

  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">TS (Typescript) olarak yapılanlar</h4>
    <p>
      TSlint özelliği kullanılarak lint config kurallarına göre yazılmıştır
      <br /> User ve Auth servisini olarak 2 adet servis yazdım.
      <br /> facebackend.ts olarak HttpRequest hooklayıp ona gelen isteği direk localstroge daki veriyi kullanılarak yazdım.
      <br /> Kullanıcı doğrulamasını jwt olarak kendimin verdiğim bir token ile yaptım
      <br /> Layoutlara göre doğrulama yapılarak girilmesini sağlandı. 1 tane guard ile bunu kontrol ettim
      <br /> Serviste kullanılan modelleri yazdım.
      <br />
    </p>
  </div>

  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">SonarQube static kod analizi </h4>
    <p>
      <a href="https://sonarcloud.io/dashboard?id=29c8440db6c0d7e5d61e2122e22eecd25f6412c9" target="_blank"> SonarQube Link</a>
      <br /> Yukardaki adresten test sonucunu kontrol edebilirsiniz
    </p>
  </div>

</div>

